@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {

  --border-left-color: hsla(202, 7%, 32%, 0.2);
  --border-top-color: hsla(204, 4%, 54%, 0.33);
  --border-right-color: hsla(199, 12%, 64%, 0.15);
  --border-bottom-color: hsla(206, 4%, 68%, 0.5);

  --color-0: hsla(192, 35%, 51%, 1);
  --color-1: hsla(209, 44%, 85%, 1); /* columbia-blue */
  --color-2: hsla(30, 100%, 99%, 1); /* baby powder */
  --color-3: hsla(72, 71%, 89%, 1); /* cream */
  --color-4: hsla(112, 32%, 78%, 1); /* celadon */
  --color-5: hsla(287, 9%, 39%, 1);
  --color-6: hsla(0, 13%, 47%, 1); 
  --color-7: hsla(352, 34%, 55%, 1); 
  --color-8: hsla(120, 1%, 26%, 1);

  --button-color-t: hsl(56, 31%, 81%);
  --button-color-r: hsl(68, 9%, 49%);
  --button-color-b: hsl(63, 9%, 39%);
  --button-color-l: hsl(50, 16%, 63%);

  --cols: 10;
  --rows: 18;
  --tile-size: 1.5em;
  --border-width: .5em;
}

html,
body {
  font-family: 'Inter Variable', Arial, Helvetica, sans-serif;
  background-color: var(--color-1);
  color: var(--color-8);
  font-weight: 400;
}

main {
  height: 100%;
  width: 100%;
}

.container {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);

  width: calc(var(--tile-size) * (20));
  margin: auto;
  display: grid;

  /* grid-gap: var(--tile-size) var(--tile-size); */
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px var(--grid-height) 100px;

  grid-template-areas: "h h h"
    "l c r"
    ". b .";
}

.header {
  grid-area: h;
  min-height: 15vh;
  font-size: 5em;
  color: var(--color-5);
}

.next-block {
  grid-area: l;
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-end;

}

.grid-board {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
margin: 0 0 0 2em;
}

.grid-square {
  border-style: solid;
  outline: double 3px indianred;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

.score-board {
  grid-area: r;
  position: relative;
  left: 4em;
}

.score-board-button {
  min-width: 5em;
  max-width: 5em;
  min-height: 5em;
  max-height: 5em;
  display: block;
  border-width: 4px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
  margin: 1em 0;
}

.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: 4.5rem;
  margin: 1rem;
  height: 3rem;
  text-align: center;
  display: block;
  border-width: 4px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.message-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 251, 188, 0.595);
  color: var(--color-8);
  text-align: center;
  }

.score,
.level {
  font-size: 1.64em;
  }

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}
