@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(196, 15%, 86%);
    --text: hsl(208, 11%, 34%);

    --border-color-t: hsla(204, 4%, 54%, 0.33);
    --border-color-r: hsla(199, 12%, 64%, 0.15);
    --border-color-b: hsla(199, 23%, 59%, 0.15);
    --border-color-l: hsla(199, 18%, 31%, 0.15);

    --button-color-t: hsl(63, 9%, 39%);
    --button-color-r: hsl(50, 16%, 63%);
    --button-color-b: hsl(56, 31%, 81%);
    --button-color-l: hsl(68, 9%, 49%);

    --color-0: hsla(30, 100%, 99%, 1);
    --color-1: hsla(219, 56%, 83%, 0.86);
    --color-2: hsl(221, 11%, 71%);
    --color-3: hsl(191, 15%, 72%);
    --color-4: hsl(0, 11%, 75%);
    --color-5: hsl(300, 9%, 64%);
    --color-6: hsl(354, 16%, 65%);
    --color-7: hsla(200, 11%, 58%, 0.881);
    --color-8: hsl(0, 10%, 51%);
    --color-9:hsl(227, 15%, 36%);
    --color-10: hsl(212, 23%, 34%);

    --cols: 10;
    --rows: 18;
    --tile-size: 2.22rem;
    --border-width: .25rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(196, 15%, 86%);
    --text: hsl(208, 11%, 34%);

    --border-color-t: hsla(204, 4%, 54%, 0.33);
    --border-color-r: hsla(199, 12%, 64%, 0.15);
    --border-color-b: hsla(199, 23%, 59%, 0.15);
    --border-color-l: hsla(199, 18%, 31%, 0.15);

    --button-color-t: hsl(63, 9%, 39%);
    --button-color-r: hsl(50, 16%, 63%);
    --button-color-b: hsl(56, 31%, 81%);
    --button-color-l: hsl(68, 9%, 49%);

    --color-0: hsla(30, 100%, 99%, 1);
    --color-1: hsla(219, 56%, 83%, 0.86);
    --color-2: hsl(221, 11%, 71%);
    --color-3: hsl(191, 15%, 72%);
    --color-4: hsl(0, 11%, 75%);
    --color-5: hsl(300, 9%, 64%);
    --color-6: hsl(354, 16%, 65%);
    --color-7: hsla(200, 11%, 58%, 0.881);
    --color-8: hsl(0, 10%, 51%);
    --color-9:hsl(227, 15%, 36%);
    --color-10: hsl(212, 23%, 34%);

    --cols: 10;
    --rows: 18;
    --tile-size: 2.22rem;
    --border-width: .25rem;
  }
}

html {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  border: solid 1px red;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

main {
  grid-row: 2 / 6;
}

header {
  width: 100%;
  height: 10vh;
  font-size: 6.5em;
  position: absolute;
  top: 0;
  text-align: center;
  font-weight: 200;
}

.color-0 { background-color: var(--color-0); }
.color-1 { background-color: var(--color-1); }
.color-2 { background-color: var(--color-2); }
.color-3 { background-color: var(--color-3); }
.color-4 { background-color: var(--color-4); }
.color-5 { background-color: var(--color-5); }
.color-6 { background-color: var(--color-6); }
.color-7 { background-color: var(--color-7); }
.color-8 { background-color: var(--color-8); }
.color-9 { background-color: var(--color-9); }
.color-10 { background-color: var(--color-10); }
