@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --platinum: hsla(90, 4%, 90%, 1);
  --jet: hsla(0, 1%, 24%, 1);

  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color-scheme: dark light;
  font-family: 'Inter Variable', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body {
  background-color: var(--platinum);
  color: var(--jet);
  padding: 0.25em;
  margin: 0.5em auto;
  font-weight: 300;
}

main {
  height: 100%;
  width: 100%;
}

.fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (prefers-color-scheme: dark) {

  
  
}